body{
	background-color: rgb(255, 248, 240);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
	
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
}

.order-form {
  width: 400px;
  min-height: 200px;
  padding: 40px;
	margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px 0 #cccccc;
	background-color: #fcf9f9;
}

.order-form-field-label {
  display: block;
  font-size: 12px;
  line-height: 1.2;
  margin-bottom: 6px;
}

.required-color {
  color: tomato;
}

.order-form-input {
  width:90%;          /* не на всю ширину */
  margin: 0 auto 20px; /* вирівнювання по центру */
  height: 40px;
  padding: 0 10px;
  border: 1px solid #303030;
  border-radius: 5px;
  display: block;      /* щоб margin auto працював */
}

.order-form-fieldset {
  margin-bottom: 20px;
}

.order-form-legend {
  margin-bottom: 10px;
}

.order-form-comment {
  width: 90%;
  height: 100px;
  padding: 15px;
  margin-bottom: 20px;

  resize: none;
}

.order-form-city-wrapper {
  display: block;
  margin-bottom: 40px;
}

.order-form-btn-wrapper {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.order-form-btn {
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #000000;
  transition: opacity 250ms linear;
}

.order-form-btn-submit {
  background-color: #fd9222;
	border: 1px solid #803300;
}

.order-form-btn-reset {
  background-color: #e74c3c;
	border: 1px solid #803300;
}
.order-form-btn:hover,
.order-form-btn:focus {
  opacity: 0.7;
	color: #ffffff;
	border: 1px solid black;
}

.text{
	display: flex;
	background-color: #ebebeb;
	color: #ff0000;
	justify-content: center;
	margin: 20px auto;
	padding: 20px;
	gap:30px;
	font-size: 22px;
}